:root {
  --color-lightest: #e7ebf5;
  --color-light: #869acf;
  --color-medium: #0c359e;
  --color-dark: #0a2a7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.app {
  height: 100vw;
  min-height: 66vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
  padding: 0 4.8rem;
  margin-bottom: 8rem;
}

header p {
  font-weight: 500;
  font-size: 2rem;
}

header img {
  height: 5.2rem;
  transform: translateX(-40px);
}

h1 {
  font-size: 5.2rem;
  text-align: center;
  margin-bottom: 6.4rem;
}

.button {
  background-color: var(--color-medium);
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.buttonNav {
  padding: 1.6rem 2.4rem;
  height: 100%;

  cursor: pointer;
  border: none;
  background: none;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.buttonNav svg {
  height: 3.2rem;
  color: var(--color-dark);
}

.buttonNav p {
  font-size: 1.8rem;
}

.button:hover {
  background-color: var(--color-dark);
}

.goal-section ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  font-size: 1.2rem;
  margin: 0 8rem;
}

.goal-section li {
  box-shadow: 0 0rem 4.8rem rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  overflow: hidden;
}

.goal-image {
  width: 100%;
  object-fit: cover;
}

.goal-content {
  padding: 3.2rem;
}

.goal-content h3 {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}

.goal-content p {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
form {
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  z-index: 99999;

  background-color: var(--color-lightest);
  border-radius: 8px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
}

.form-add-goal {
  grid-template-columns: 1fr 1.5fr;
  padding: 4.4rem;
  width: 70rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  font-weight: 500;
}

input {
  font-size: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

form h2 {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
